{% extends 'base.html' %}

{% block title %}
    <h1>{{reporter.name}}</h1>
{% endblock title %}
{% block content %}
    <div class="content">
        <div class="row">
            <strong>Código:</strong>
            <p>{{reporter.id}}</p>
            <strong>Nome:</strong>
            <p>{{reporter.name}}</p>
        </div>
    </div>
    <strong>AÇÃO IRREVERSIVEL</strong>
    <p>Você realmente quer fazer a deleção?</p>
    <a class='btn btn-secondary bi-arrow-left' href="{% url 'relacionamentos:reporter' %}"> Voltar</a>
{% endblock content %}

