{% extends "base.html" %}
{% block titile %}
    <h1>Formulário de Contato</h1>
{% endblock titile %}
{% block content %}
    <form action="{% url url_form %}" method="post" id="contato">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-sucess btn-lg" form="contato" value="Enviar">
            <i class="bi bi-send"></i>
         Enviar</button>
        <button type="reset" class="btn btn-outline-danger btn-lg" form="contato" value="Reset">
            <i class="bi bi-arrow-clockwise"></i>
         Limpar</button>

    </form>
{% endblock content %}